@model IEnumerable<EsbLog.Domain.Platform.App>

@{
    ViewBag.Title = "应用管理";
}
@section css{
    <link rel="stylesheet" href="~/Content/Matrix/css/uniform.css" />
<link rel="stylesheet" href="~/Content/Matrix/css/select2.css" />
}
@section scripts{
    <script src="~/Content/Matrix/js/jquery.uniform.js"></script>
    <script src="~/Content/Matrix/js/select2.min.js"></script>
    <script src="~/Content/Matrix/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Matrix/js/matrix.tables.js"></script>
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-th"></i></span>
                <h5>应用管理</h5>
                
            </div>
            <div class="widget-content nopadding">
                <span style="float:right;padding-right:10px">@Html.ActionLink("新增", "Add", null, new { @class = "btn btn-primary" })</span>
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th>应用编号</th>
                            <th>应用名称</th>
                            <th>描述</th>
                            <th>访问key</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var app in Model)
                        {
                            <tr>
                                <td>@app.Code</td>
                                <td>@app.Name</td>
                                <td>@app.Description</td>
                                <td>@app.PublicKey</td>
                                <td>@Html.ActionLink("编辑", "Edit", new { Id = app.AppId }, new { @class = "btn btn-success" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
