@model IEnumerable<EsbLog.Domain.Platform.App>

@{
    ViewBag.Title = "应用管理";
}

<div class="page-header">
    <h2>应用管理 <span style="float:right">@Html.ActionLink("新增", "Add", null, new { @class = "btn btn-primary" })</span></h2>
    
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>应用编号</th>
                <th>应用名称</th>
                <th>描述</th>
                <th>访问key</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            
        @foreach (var app in Model)
        {
            <tr>
                <td>@app.Code</td>
                <td>@app.Name</td>
                <td>@app.Description</td>
                <td>@app.PublicKey</td>
                <td>@Html.ActionLink("编辑", "Edit", new { Id = app.AppId }, new { @class = "btn btn-success" })</td>
            </tr>
        }
            
        </tbody>
    </table>
</div>